* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.75%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
}

.container {
  max-width: 120rem;
  padding: 4rem 2rem;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 4rem;
  padding-bottom: 3rem;
  font-weight: 500;
}

ul {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}

li {
  list-style: none;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: all 300ms;
}

a:link,
a:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #333;
}

a:hover,
a:focus {
  color: #666;
  transform: translateY(-6px);
}

.thumbnail {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

a span {
  display: block;
}

@media (max-width: 640px) {
  a:link,
  a:visited {
    font-size: 1.8rem;
  }

  .title {
    font-size: 2.5rem;
  }
  .thumbnail {
    width: 90%;
  }

  ul {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  a {
    gap: 1rem;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 4rem 1rem;
  }
}
